<h1>Listing past_actions</h1>

<table>
  <tr>
  </tr>

<% @past_actions.each do |past_action| %>
  <tr>
    <td><%= link_to 'Show', past_action %></td>
    <td><%= link_to 'Edit', edit_past_action_path(past_action) %></td>
    <td><%= link_to 'Destroy', past_action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New past_action', new_past_action_path %>