/* isdaily.sass */
/* _reset.sass */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0px;
  padding: 0px;
  margin: 0px; }

html body {
  width: 100%;
  overflow: auto;
  overflow-x: hidden; }

img {
  border: 0 none; }

body {
  background: white;
  z-index: 1;
  max-width: 1024px;
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  line-height: 1.125em; }

h1 h2 h3 h4 h5 h6 p pre blockquote form ul ol dl {
  margin: 20px 0; }

li dd blockquote {
  margin-left: 40px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px; }

/* set sane defaults */
body {
  background: #624a32; }

div#content {
  background: white; }

span.heading {
  font-weight: bold; }

b {
  font-weight: bold; }

h1 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 0.5em; }

h2 {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 0.3em; }

h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.3em; }

.success {
  color: green; }

.failure {
  color: red; }

/* Layout */
div#header {
  background: #bce2eb; }

div#fixed-right-menu {
  background: #bce2eb; }

div#fast-cats {
  background: #00adb9; }

a {
  text-decoration: none;
  color: #00adb9; }
  a:hover {
    color: black; }

a.selected_cat {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em; }

a.unselected_cat {
  color: black;
  font-weight: bold;
  font-size: 1.2em; }
  a.unselected_cat:hover {
    color: #bce2eb; }

div#copyright {
  color: gray; }

div#legal a {
  color: gray;
  text-decoration: none; }
  div#legal a:hover {
    color: #00adb9;
    text-decoration: underline; }
  div#legal a:visited {
    color: gray; }

/* index */
div#top-plans {
  font-size: 1.2em; }
  div#top-plans a {
    color: black; }

div.sub-plans {
  font-size: 0.8em; }
  div.sub-plans a {
    color: #00adb9; }
