%h1 Edit plan
-form_for @plan do |f|
  = f.text_field :description
  = f.date_select :deadline, :include_blank=>true
  - siblings = Array.new
  - siblings = @plan.parent.children if @plan.parent != nil
  - top_level = @user.plans.find(:all, :conditions=>{:parent_id=>nil})
  = f.collection_select :parent, top_level.concat(siblings), :id, :description,
                        :include_blank=>true
  = f.submit
