%h1 Password reset request.
-if @success
  The password reset was successful, please check your e-mail the reset message should be delivered soon.  
-else 
  We were unable to reset your password, either the username does not exist, or it does not have a validated e-mail address attached. 
